@charset "utf-8"
@import url("cw_layout.css")
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 3
   
   Civil War History Style Sheet
   Author: Avinash Krupakar Reddy Batchala
   Date:   8/30/2021
   
   Filename: cw_styles.css

*/


/* Structural Styles */

html {
   background-color: rgb(151, 151, 151);
}


/* Body Header Styles */




/* Navigation Styles */




/* Outline Styles */




/* Section Styles */




/* Article Styles */




/* Aside Styles */

